<template>
  <div class="container">
    <div class="row">
      <h1>Криптовалютные биржи</h1>

      <input
          type="text"
          class="form-control text-dark rounded-0 border-1 my-4"
          placeholder="Поиск"
          v-model="textSearch"
          @keyup="searchExchange"
          autofocus
      />

      <div class="table-responsive">
        <table class="table table-hover text-light">
          <thead>
          <tr>
            <th>#</th>
            <th>Биржа</th>
            <th>Год основания</th>
            <th>Страна</th>
            <th>Вебсайт</th>
            <th>Надежность</th>
            <th>Ранг по надежности</th>
            <th>Объем BTC за 24ч</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(exchange, index) in filteredExchanges" :key="exchange.id">
            <td class="text-muted">{{ index + 1 }}</td>
            <td style="text-align: left;">
              <img :src="exchange.image" :alt="exchange.name" style="width: 2rem" class="me-2" />
              <span>{{ exchange.name }}</span>
            </td>
            <td>{{ exchange.year_established }}</td>
            <td>{{ exchange.country }}</td>
            <td>
              <a :href="exchange.url" target="_blank" rel="noopener noreferrer">
                Перейти
              </a>
            </td>
            <td>{{ exchange.trust_score }}</td>
            <td>{{ exchange.trust_score_rank }}</td>
            <td>{{ exchange.trade_volume_24h_btc.toFixed(2) }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Exchanges",
  data() {
    return {
      exchanges: [],
      filteredExchanges: [],
      textSearch: "",
    };
  },
  async mounted() {
    const res = await fetch("/exchanges", {
      method: 'GET',
      headers: {
        accept: 'application/json',
      },
    });
    const data = await res.json();
    this.exchanges = data;
    this.filteredExchanges = data;
  },
  methods: {
    searchExchange() {
      this.filteredExchanges = this.exchanges.filter(
          (exchange) =>
              exchange.name.toLowerCase().includes(this.textSearch.toLowerCase())
      );
    },
  },
};
</script>

<style scoped>
.container .row h1 {
  font-family: 'Arial';
  padding-top: 3rem;
}

@media (max-width: 768px) {
  .container .row h1 {
    font-size: 2rem;
    padding-top: 2rem;
  }
  .table-responsive {
    overflow-x: auto;
  }
}
</style>
