<template>
  <div class="container">
    <div class="row">
      <h1>Криптовалюты</h1>

      <input
          type="text"
          class="form-control text-dark rounded-0 border-1 my-4"
          placeholder="Поиск"
          v-model="textSearch"
          @keyup="searchCoin"
          autofocus
      />

      <div class="table-responsive">
        <table class="table table-hover text-light">
          <thead>
          <tr>
            <th>#</th>
            <th>Криптовалюта</th>
            <th>Цена</th>
            <th>Изменение цены 24ч</th>
            <th>Объем 24ч</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(coin, index) in filteredCoins" :key="coin.id" @click="toTrading()">
            <td class="text-muted">{{ index }}</td>
            <td style="text-align: left;">
              <img :src="coin.image" :alt="coin.name" style="width: 2rem" class="me-2" />
              <span>{{ coin.name }}</span>
              <span class="ms-2 text-muted text-uppercase">{{ coin.symbol }}</span>
            </td>
            <td>{{ coin.current_price.toLocaleString() }}$</td>
            <td
                :class="[
                  coin.price_change_percentage_24h > 0 ? 'text-success' : 'text-danger',
                ]"
            >
              {{ coin.price_change_percentage_24h }}%
            </td>
            <td>{{ coin.total_volume.toLocaleString() }}$</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Cryptocurrencies",
  components: {},
  data() {
    return {
      coins: [],
      filteredCoins: [],
      textSearch: "",
    };
  },
  inject: ['App'],
  async mounted() {
    const res = await fetch(
        "/currencies", {
          method: 'GET',
          headers: {
            accept: 'application/json',
          },
        });
    const data = await res.json();
    this.coins = data;
    this.filteredCoins = data;
  },
  methods: {
    searchCoin() {
      this.filteredCoins = this.coins.filter(
          (coin) =>
              coin.name.toLowerCase().includes(this.textSearch.toLowerCase()) ||
              coin.symbol.toLowerCase().includes(this.textSearch.toLowerCase())
      );
    },
    toTrading() {
      this.App.currentComponent = "Trading";
    }
  },
};
</script>

<style scoped>
.container .row h1 {
  font-family: 'Arial';
  padding-top: 3rem;
}

@media (max-width: 768px) {
  .container .row h1 {
    font-size: 2rem;
    padding-top: 2rem;
  }
  .table-responsive {
    overflow-x: auto;
  }
}
</style>
