<template>
  <div class="panel-container">
    <div class="side-panel">

      <button class="round-button close-cross" @click="onCloseClick()">
        <i class="fas fa-times"></i>
      </button>

      <div class="panel-header">
        <img class="panel_logo" src="/logo.png" alt="Logo">
        Давайте приступим.
      </div>
      <div v-for="(btn, index) in buttons">
        <button v-if="'submenu' in btn" class="dropdown first-level" @click="onOpenClick(index)">
          {{ btn.title }}
          <button class="round-button arrow-button">
            <i class="fas fa-chevron-right" v-if="!btn.opened"></i>
            <i class="fas fa-chevron-down" v-else></i>
          </button>
        </button>
        <button v-else class="dropdown first-level" @click="switchComponent(btn.component)">
          {{ btn.title }}
        </button>

        <div v-if="'submenu' in btn && btn.opened">
          <button v-for="sub_btn in btn.submenu"
                  class="dropdown second-level"
                  @click="switchComponent(sub_btn.component)">
            {{ sub_btn.title }}
          </button>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  /* eslint-disable */
  name: 'Menu',
  data() {
    return {
      buttons: []
    }
  },
  inject: ['App'],
  created() {
    this.buttons = [
      {title: "Главная", component: "Landing"},
      {
        title: "Биржи", opened: false, submenu: [
          {title: "Новости", component: "News"},
          {title: "Обороты бирж", component: "Exchanges"},
          {title: "Курсы криптовалют", component: "CryptoCurrencies"}
        ]
      },
      {
        title: "Мои финансы", opened: false, submenu: [
          {title: "Портфель", component: "Portfolio"},
          // {title: "Статистика", component: ""},
          {title: "Оплата", component: "Payment"}
        ]
      },
      {
        title: "Настройки", opened: false, submenu: [
          {title: "Настройки", component: "Settings"},
          {title: "Показатели сервера", component: "ServerStats"}
        ]
      },
      {title: "О нас", component: "AboutUs"},
    ];
  },
  methods: {
    updatePanelLeft() {
      const panel = document.querySelector('.side-panel')
      const visibility = window.getComputedStyle(panel).getPropertyValue('visibility');

      if (visibility === "hidden") {
        const transition = window.getComputedStyle(panel).getPropertyValue('transition');
        panel.style.transition = "none";
        panel.style.left = `-${panel.offsetWidth}px`;
        panel.style.transition = transition
      }
    },
    onOpenClick(current) {
      if (!this.buttons[current].opened) {
        this.buttons.forEach(i => {
          if ("opened" in i) i.opened = false;
        })
      }
      this.buttons[current].opened = !this.buttons[current].opened
    },
    switchComponent(component) {
      this.App.currentComponent = component;
      this.onCloseClick();
    },
    onShowClick() {
      const panel = document.querySelector('.side-panel');
      panel.style.visibility = 'visible';
      panel.style.left = 0;
    },
    onCloseClick() {
      const panel = document.querySelector('.side-panel');
      panel.style.left = `-${panel.offsetWidth}px`;
      panel.style.visibility = 'hidden';
    }
  },
  mounted() {
    this.updatePanelLeft();
    window.onresize = this.updatePanelLeft;
  }
}

</script>

<style scoped>
.panel-container {
  width: 25vw;
  height: 100%;
}

.side-panel {
  display: block;
  visibility: hidden;
  position: fixed;
  z-index: 7;
  top: 2rem;
  left: 0;
  bottom: 2rem;
  width: 25vw;
  min-width: 25rem;
  max-width: 95%;
  background: var(--primary-color);
  transition: all 0.5s;
  box-shadow: 10px 0 20px rgba(0,0,0,0.4);
  color: var(--white-color);
  padding: 40px 1rem;
}

.panel-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--white-color);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.dropdown {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--secondary-color);
  font-size: 1.5rem;
  align-items: start;
  flex-direction: row;
  border-radius: unset;
  padding: 0;
}

.first-level {
  right: 0;
  background: var(--primary-color);
  color: var(--white-color);
}

.second-level {
  right: 0;
  background: var(--light-color);
  padding-left: 4rem;
  color: var(--white-color);
}

.round-button {
  display: flex;
  border: none;
  border-radius: 50%;
  background-color: var(--transperent-grey-color);
  align-items: center;
  justify-content: center;
  color: var(--white-color);
}

.arrow-button {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem 2rem;
}

.panel_logo {
  height: 10rem;
}

.close-cross {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  font-size: 2rem;
}

@media (max-width: 26rem) {
  .side-panel {
    width: 95%;
    min-width: 0;
    padding: 40px 0.5rem;
  }
}
</style>