<template>
  <div class="stats">
    <div class="indicators">
      <CircleProgressWrapper
          class="flex-grow-1 cpw"
          header="RAM"
          :show_value="true"
          :value="ramUsage"
          :max="totalRam"
          units=" Gb"
          :show_percents="true"
          :to_fixed="1"/>
      <CircleProgressWrapper
          class="flex-grow-1 cpw"
          header="CPU"
          :show_info="true"
          :info="cpu_freq + ' MHz'"
          :value="cpuUsage"
          :max="100"
          :show_percents="true"
          :to_fixed="1"/>
    </div>
    <div class="platform" v-resize-text="{ ratio: 2, minFontSize: 8 }">
      <p>CPU: {{ system['vendor'] }}</p>
      <p>Частота: {{ system['freq'] / 1e9 }} GHz</p>
      <p>RAM: {{ system['ram'] / 1e9 }} Gb</p>
      <p>Платформа: {{ system['arch'] }}</p>
      <p>ОС: {{ system['os'] }}</p>
      <p>Ядро: {{ system['version'] }}</p>
    </div>
  </div>
  <div class="graphs">
    <Chart class="graph"
           :options="cpu_chart_options"
           :series="cpu_series"/>
    <Chart class="graph"
           :options="ram_chart_options"
           :series="ram_series"/>
  </div>
</template>

<script>
import CircleProgressWrapper from './components/CircleProgressWrapper.vue';
import Chart from "../../components/ApexChart.vue";

export default {
  name: 'ServerStats',
  components: {
    CircleProgressWrapper,
    Chart
  },
  data() {
    return {
      system: [],
      totalRam: 4,
      ramUsage: 2,
      cpuUsage: 50,
      cpu_freq: 1000,
      cpu_chart_options: {
        chart: {
          toolbar: {
            show: false
          },
          animations: {
            enabled: true,
            easing: 'easeinout',
          }
        },
        title: {
          text: 'CPU',
          align: 'left',
          margin: 0,
          offsetX: 0,
          offsetY: 20,
          floating: false,
          style: {
            fontSize: '1.5rem',
            color: 'var(--grey-color)'
          },
        },
        stroke: {
          curve: 'smooth'
        },
        xaxis: {
          range: 10,
          categories: [],
        },
        yaxis: {
          min: 0,
          max: 100,
        }
      },
      cpu_series: [
        {
          name: "total",
          data: [],
        },
      ],
      ram_chart_options: {
        chart: {
          toolbar: {
            show: false
          },
          animations: {
            enabled: true,
            easing: 'easeinout',
          }
        },
        title: {
          text: 'RAM',
          align: 'left',
          margin: 0,
          offsetX: 0,
          offsetY: 20,
          floating: false,
          style: {
            fontSize: '1.5rem',
            color: 'var(--grey-color)'
          },
        },
        stroke: {
          curve: 'smooth'
        },
        xaxis: {
          range: 10,
          categories: [],
        },
        yaxis: {
          min: 0,
          max: this.totalRam,
        }
      },
      ram_series: [
        {
          name: "total",
          data: [],
        },
      ],
    };
  },
  methods: {
    getRandom(current, range, min_value, max_value) {
      let value = current + Math.random() * (range * 2) - range;
      if (value < min_value) value = min_value;
      if (value > max_value) value = max_value;
      return value;
    },
  },
  async mounted() {
    const res = await fetch(
        "/governor/system", {
          method: 'GET',
          headers: {
            accept: 'application/json',
          },
        });
    this.system = await res.json();

    this.ram_chart_options.yaxis.max = this.totalRam;

    setInterval(() => {
      this.ramUsage = this.getRandom(this.ramUsage, 0.2, 0.3, this.totalRam);
      this.ram_series[0].data.push(Math.round(this.ramUsage * 10) / 10);
      this.cpuUsage = this.getRandom(this.cpuUsage, 20, 5, 100);
      this.cpu_series[0].data.push(Math.round(this.cpuUsage));
      this.cpu_freq = Math.round(this.getRandom(this.cpu_freq, 300, 800, 2200) / 10) * 10;
    }, 1000);
  },
}
</script>

<style scoped>
.platform {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  margin-left: 2rem;
  width: 30%;
}

.indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  padding: 2em;
  width: 60%;
}

.platform p {
  font-size: 1em;
  text-align: left;
  margin: 0;
}

.cpw {
  margin: 1rem;
}

.stats {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50%;
}

p {
  color: var(--grey-color);
}

.graphs {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 1rem 10%;
}

.graph {
  display: flex;
  flex-grow: 1;
  margin: 1rem 0;
  height: 50vh;
}

@media (max-width: 768px) {
  .platform {
    width: 100%;
  }

  .indicators {
    width: 100%;
  }

  .stats {
    flex-direction: column;
  }

  .graphs {
    padding: 1rem 5%;
    flex-direction: column;
  }

  .graph {
    height: 30vh;
  }
}
</style>