:root {
    --primary-color: #3165F6;
    --secondary-color: #86D2FE;
    --dark-color: #182D9A;
    --light-color: #5EB1FD;
    --white-color: #FEFEFE;
    --background-color: dimgrey;
    --text-color: #FEFEFE;
    --grey-color: dimgrey;
    --transperent-grey-color: rgba(200, 200, 200, 0.5);
}