<template>
  <div class="content-wrapper">
    <div class="login-background">
      <div class="login-container">
        <div class="d-flex flex-column form-container">
          <div class="login-header">
            <img src="/logo.png" alt="Logo">
            <h1>Авторизация</h1>
          </div>
          <div class="login-form">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-user"></i>
                </span>
                </div>
                <input id="username" type="text" v-model="username" class="form-control" placeholder="Логин">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-lock"></i>
                </span>
                </div>
                <input id="password" type="password" v-model="password" class="form-control" placeholder="Пароль">
              </div>
            </div>
            <div id="submit-row" class="d-flex flex-row">
              <div class="d-flex form-group justify-content-start align-items-center">
                <input id="checkbox" type="checkbox" v-model="remember" class="form-check-input m-0">
                <label for="checkbox" class="form-check-label">Запомнить</label>
              </div>
              <button class="btn btn-primary" @click="login()">Войти</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer/>
  </div>
</template>

<script>
import Footer from "@/components/Footer.vue";
import {useToast} from "vue-toastification";

export default {
  name: 'Login',
  components: {
    Footer
  },
  setup() {
    // Get toast interface
    const toast = useToast();
    const toast_options = {
      position: "bottom-center",
      timeout: 5000,
      closeOnClick: true,
      pauseOnFocusLoss: true,
      pauseOnHover: true,
      draggable: true,
      draggablePercent: 0.6,
      showCloseButtonOnHover: false,
      hideProgressBar: true,
      closeButton: "button",
      icon: true,
      rtl: false
    };

    // Make it available inside methods
    return { toast, toast_options }
  },
  data() {
    return {
      username: "",
      password: "",
      remember: false
    };
  },
  methods: {
    async login() {
      const details = {
        'username': this.username,
        'password': this.password,
        'remember': String(this.remember),
        'grant_type': 'password'
      };

      let formBody = [];
      for (const property in details) {
        const encodedKey = encodeURIComponent(property);
        const encodedValue = encodeURIComponent(details[property]);
        formBody.push(encodedKey + "=" + encodedValue);
      }
      formBody = formBody.join("&");

      try {
        const response = await fetch(
            this.$router.currentRoute.value.path.replace(/\/+$/, '') + "/authenticate", {
              method: "POST",
              headers: new Headers({'content-type': 'application/x-www-form-urlencoded'}),
              body: formBody
            });

        if (response.status === 200) {
          const data = await response.json();
          await this.$router.push({
            path: data['path'],
            force: true
          });
          await this.$router.go(1);
          window.location.reload();
        }
        else {
          if (response.status === 404)
            this.toast.error("Сервис недоступен", this.toast_options);
          else if (response.status === 401)
            this.toast.error("Неверный логин или пароль", this.toast_options);
          else
            this.toast.error("Произошла ошибка!", this.toast_options);
        }

      } catch (error) {
        this.toast.error("Произошла ошибка!", this.toast_options);
        console.error(error);
      }
    }
  }
}
</script>

<style lang="scss">
@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/css/all.css';

@import "../public/assets/styles/themes/default_theme.css";

.default-button {
  @extend .btn;
  border: none;
  border-radius: var(--bs-border-radius);
  background-color: var(--white-color);
  font-size: 1.25rem;
  color: var(--primary-color);
}

button {
  @extend .btn-primary;
  @extend .default-button;
}
</style>

<style>
#app {
  font-family: "KTF",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  margin: 3rem 0 1rem;
  font-size: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--light-color);
}

.content-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
}
</style>

<style scoped>
.login-background {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background: var(--white-color);
}

.login-container {
  display: block;
  margin: 2rem;
  padding: 1rem;
  width: 32rem;
  height: 20rem;
  background: var(--light-color);
  border-radius: 1.5rem;
  color: var(--white-color);
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container {
  padding: 0;
  margin: 0 3rem;
  align-items: center;
}

.login-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.login-header img {
  height: 3rem;
  margin-right: 0.5rem;
}

.login-header h1 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.form-group {
  width: 100%;
  margin: 0.5rem 0;
}

.input-group-text {
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-control {
  font-size: 1.25rem;
}

#submit-row {
  margin-top: 0.5rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn {
  padding: 0.5rem 3rem;
}

form {
  width: 100%;
  margin: 0;
  align-items: start;
}

.form-check-label {
  margin: 0.4rem;
  font-size: 1.25rem;
}

</style>