<template>
  <div>
    <h1 class="news-heading">Новости и акции</h1>
    <div class="crypto-news-grid">
      <div class="crypto-news-item" v-for="newsItem in cryptoNews" :key="newsItem.id">
        <h3>{{ newsItem.title }}</h3>
        <p>{{ newsItem.content }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      cryptoNews: [
        {
          id: 1,
          title: "Биткоин достиг нового исторического максимума",
          content: "Биткоин впервые достиг $60,000...",
        },
        {
          id: 2,
          title: "Анонс обновления Ethereum 2.0",
          content: "Ethereum переходит к модели доказательства доли...",
        },
        {
          id: 3,
          title: "Ripple заключает партнерство с крупными банками",
          content: "Новое партнерство Ripple изменит международные платежи...",
        },
        {
          id: 4,
          title: "Запуск смарт-контрактов на Cardano",
          content: "Смарт-контракты на Cardano активированы на основной сети...",
        },
        {
          id: 5,
          title: "Событие по сокращению награды Litecoin",
          content: "Событие по сокращению награды Litecoin повлияет на его предложение и цену...",
        },
        {
          id: 6,
          title: "Рост курса Binance Coin (BNB)",
          content: "BNB значительно возрос в цене благодаря росту его популярности...",
        },
      ],
    };
  },
};
</script>

<style scoped>
.news-heading {
  font-size: 2.5rem;
  text-align: center;
  margin: 3rem 0;
}

.crypto-news-grid {
  display: grid;
  grid-gap: 2rem;
}

.crypto-news-item {
  border: 1px solid #ccc;
  padding: 2rem;
  margin: 2rem;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.crypto-news-item h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.crypto-news-item p {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .crypto-news-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .crypto-news-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
</style>