<template>
  <div class="d-flex flex-grow-1 flex-row">
    <div class="graph">
      <Chart class="d-flex flex-grow-1"
             type="candlestick"
             :options="options"
             :series="series"/>
    </div>
    <div class="prices-wrapper">
      <div class="prices">
        <div v-for="index in 10" class="sell-p p-div">
          {{ 10 * Math.random() }}
        </div>
        <div v-for="index in 10" class="buy-p p-div">
          {{ 10 * Math.random() }}
        </div>
      </div>
      <div class="prices">
        <div class="d-flex flex-row justify-content-between">
          <button class="buy">Купить</button>
          <button class="sell">Продать</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Chart from "@/components/ApexChart.vue";

export default {
  /* eslint-disable */
  name: 'Trading',
  components: {
    Chart
  },
  data() {
    return {
      series: [],
      options: {
        theme: {
          mode: "dark",
        },
        chart: {
          height: 500,
          width: 500,
          toolbar: {
            tools: {},
          },
          background: "transparent",
        },
        grid: {
          show: false,
        },
        plotOptions: {
          candlestick: {
            wick: {
              useFillColor: true,
            },
          },
        },
        xaxis: {
          labels: {
            show: false,
            datetimeFormatter: {
              month: "mmm 'yy",
            },
          },
          type: "datetime",
          axisBorder: {
            show: false,
          },
          axisTicks: {
            show: false,
          },
        },
        yaxis: {
          show: false,
        },
        tooltip: {
          y: {
            formatter: v => `$ ${v.toFixed(2)}`,
          },
        },
      }
    }
  },
  mounted() {
    this.generateData();
  },
  methods: {
    generateData() {
      const data = [];
      for (let i = 0; i < 30; i++) {
        const time_close = new Date().getTime() - (30 - i) * 24 * 60 * 60 * 1000;
        let high, low, open;
        if (data.length > 0) {
          open = data[data.length - 1].close;
          high = Math.max(open + Math.random() * 10,
              data[data.length - 1].high);
          low = Math.min(open - Math.random() * 10,
              data[data.length - 1].low);
        }
        else {
          open = Math.random() * 100;
          high = open + Math.random() * 10;
          low = open - Math.random() * 10;
        }

        const close = low + Math.random() * (high - low);
        data.push({
          time_close,
          open,
          high,
          low,
          close,
        });
      }
      this.series = [
        {
          data: data.map(price => ({
            x: price.time_close,
            y: [price.open, price.high, price.low, price.close],
          })),
        },
      ];
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.graph {
  display: flex;
  flex-grow: 1;
  padding: 1rem;
  width: 60%;
  min-height: 80%;
}

.prices-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 1rem;
  width: 40%;
  min-height: 100%;
}

.prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 1rem;
  width: 100%;
}

.p-div {
  width: 100%;
  padding: 0.1rem;
  border: 1px solid dimgray;
}

.buy {
  color: #FFFFFF;
  background: #2ecc71;
  margin: 2rem;
}

.sell {
  color: #FFFFFF;
  background: salmon;
  margin: 2rem;
}

.buy-p {
  color: darkgreen;
}

.sell-p {
  color: brown;
}
</style>
