<template>
  <div>
    <h1>Страница Оплаты</h1>
    <p class="importance-description">
      Наша служба оплаты - ключевой элемент нашего бизнеса. Мы предоставляем надежные и удобные методы оплаты,
      обеспечивая вам комфорт и безопасность. Вместе с этим, мы предлагаем наши услуги по выгодной цене всего $10 в месяц.
    </p>
    <div class="payment-container">
      <div class="payment">
        <img src="/assets/images/qrcode1.png" alt="QR-код 1" />
        <p>
          Оплатите с помощью Dogecoin (DOGE) на Binance Smart Chain (BEP20)
        </p>
      </div>
      <div class="payment">
        <img src="/assets/images/qrcode2.png" alt="QR-код 2" />
        <p>
          Осуществите оплату с использованием Bitcoin (BTC) на сети Bitcoin (BTC)
        </p>
      </div>
      <div class="payment">
        <img src="/assets/images/qrcode3.png" alt="QR-код 3" />
        <p>
          Оплачивайте с Tether (USDT) на блокчейне TRON (TRC20)
        </p>
      </div>
      <div class="payment">
        <img src="/assets/images/qrcode4.png" alt="QR-код 4" />
        <p>
          Осуществляйте платежи с помощью Tether (USDT) на Binance Smart Chain (BEP20)
        </p>
      </div>
    </div>
    <div class="confirmation">
      <label for="transaction-hash">После оплаты введите хэш вашей транзакции:</label>
      <input type="text" id="transaction-hash" placeholder="Хэш транзакции" />
      <button @click="confirmPayment">Подтвердить</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Payment",
}
</script>

<style scoped>
h1 {
  margin: 3rem;
  text-align: center;
}

.importance-description {
  text-align: center;
  margin: 2rem;
  font-size: 1.25rem;
}

.payment-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.payment {
  text-align: center;
}

.payment img {
  max-width: 11rem;
  height: auto;
  border: 0.1rem solid var(--primary-color);
}

.payment p {
  margin: 1.25rem 0;
  font-weight: bold;
}

.confirmation {
  text-align: center;
  margin: 2rem;
}

.confirmation label {
  display: block;
  font-weight: bold;
}

.confirmation input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.confirmation button {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .payment-container {
    grid-template-columns: 1fr;
  }
}
</style>