<template>
  <div class="settings-wrapper">
    <h1>Настройки</h1>
    <div v-for="section in sections" class="section">
      <h2 v-if="'header' in section">{{ section.header }}</h2>
      <component :is="section.component"/>
    </div>
  </div>
</template>

<script>
import Themes from "@/pages/settings/themes/Themes.vue";
import Development from "@/pages/settings/development/Development.vue";

export default {
  name: 'Settings',
  components: {
    Themes,
    Development
  },
  data() {
    return {
      sections: [
        {
          header: "Тема",
          component: "Themes"
        },
        {
          header: "Функционал ещё в разработке!",
          component: "Development"
        }
      ]
    }
  }
}
</script>

<style scoped>
.settings-wrapper {
  margin: 0 10%;
}

h1 {
  text-align: left;
}

h2 {
  text-align: left;
  margin-bottom: 1rem;
}

.section {
  padding: 0 0 2rem 0;
  border-bottom: 1px solid var(--light-color);
  margin-bottom: 2rem;
}
</style>