<template>
  <div ref="theme-background" class="theme-background" @click="applyTheme()">
    <div class="theme-navbar">
      <div class="theme-logo">
        <img src="/logo.png" alt="Logo">
      </div>
      <p>AI Crypto Tracker</p>
      <div class="theme-button"></div>
    </div>
    <div class="theme-content">
      <div class="theme-menu">
      </div>
      <div class="lines">
        <div v-for="index in 5" class="line">
          <p/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ThemePreview',
  props: {
    theme: {
      type: String,
      required: true
    }
  },
  inject: ['App'],
  data() {
    return {
      theme_link: document.createElement('link'),
    }
  },
  methods: {
    applyTheme() {
      this.App.theme_link.remove();
      this.App.theme_link.href = this.theme;
      document.head.appendChild(this.App.theme_link);
    }
  },
  mounted() {
    // this.theme_link = this.$refs["theme-background"].createElement('link')
    // this.theme_link.rel = 'stylesheet';
    // this.theme_link.href = this.theme;
    // this.$refs["theme-background"].appendChild(this.theme_link);
  }
}
</script>

<style scoped lang="sass">
@import url("@/../public/assets/styles/themes/dark_theme.css")
.theme-background
  display: block
  background-color: var(--background-color)
  border: 2px solid var(--primary-color)


.theme-navbar
  display: flex
  align-items: center
  justify-content: space-between
  flex-direction: row
  padding: 0 5%
  width: 100%
  height: 20%
  background-color: var(--primary-color)


.theme-navbar p
  margin: 0
  color: var(--white-color)


.theme-button
  width: 15%
  height: 50%
  background-color: var(--white-color)
  border-radius: 15%


.theme-logo
  height: 80%
  max-height: 80%


.theme-logo img
  margin: 0
  height: 100%
  max-height: 100%


.theme-content
  display: flex
  flex-direction: row
  height: 80%

.theme-menu
  width: 25%
  height: 90%
  margin: 2.5% 0
  background-color: var(--primary-color)
  box-shadow: 2px 0 5px rgba(0,0,0,0.4)
  flex-grow: 0


.lines
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: column
  flex-grow: 1
  padding: 10%

.line
   display: flex
   justify-content: center
   align-items: center
   width: 100%
   flex-grow: 1


.line p
   margin: 0
   width: 100%
   height: 50%
   background-color: var(--text-color)

</style>