<template>
  <div class="slider">
    <agile :initial-slide="0">
      <div class="slide" v-for="card in cards">
        <img class="slide-background" :src="card" :alt="card">
      </div>

      <template v-slot:prevButton>
        <i class="fas fa-chevron-left"></i>
      </template>
      <template v-slot:nextButton>
        <i class="fas fa-chevron-right"></i>
      </template>
    </agile>
  </div>
</template>

<script>
import { VueAgile } from "vue-agile";
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "Slider",
  components: {
    agile: VueAgile
  },
  data() {
    return {
      cards: [
        "/assets/images/slide0.jpg",
        "/assets/images/slide1.jpg",
        "/assets/images/slide2.webp",
        "/assets/images/slide3.avif",
        "/assets/images/slide4.jpg",
        "/assets/images/slide5.jpg"
      ]
    }
  }
};
</script>

<style lang="scss">

.slider {
  justify-content: center;
}

.agile {
  height: 50vh;
  margin: 1rem auto;
  max-height: 50vw;
  max-width: 80vw;
  padding: 0;
  box-sizing: border-box;
  &__nav-button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 24px;
    height: 100%;
    position: absolute;
    top: 0;
    transition-duration: 0.3s;
    width: 80px;
    &:hover {
      background-color: rgba(black, 0.5);
      opacity: 1;
    }
    &--prev {
      left: 0;
    }
    &--next {
      right: 0;
    }
  }
  &__dots {
    bottom: 10px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
  &__dot {
    margin: 0 10px;
    button {
      background-color: transparent;
      border: 1px solid lightgray;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      height: 10px;
      font-size: 0;
      line-height: 0;
      margin: 0;
      padding: 0;
      transition-duration: 0.3s;
      width: 10px;
    }
    &--current,
    &:hover {
      button {
        background-color: white;
      }
    }
  }
}

// Slides styles
.slide-background {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide {
  height: 50vh;
  max-height: 50vw;
  max-width: 80vw;
  margin: 0;
  padding: 0;
  display: block;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .agile {
    margin: 0 auto 1rem;
    max-width: 90vw;
  }

  .slide {
    max-width: 90vw;
  }
}
</style>