<template>
  <div class="cpb-wrapper">
    <div class="cpb-wrapper cpb-wrapper-y" v-resize-text="{ delay: 0, ratio: 0.875, minFontSize: 8 }">
      <div class="text-center cpb-wrapper cpb-wrapper-y flex-column">
        <svg class="stat-circle" width="100%" height="100%" viewBox="0 0 104 104">
          <circle class="bg" cx="52" cy="52" r="48"/>
          <circle class="progress" :style="{ strokeDasharray: strokeDasharray }" cx="52" cy="52" r="48" transform="rotate(-270 52 52)">
            <animate ref="animation" attributeName="stroke-dashoffset" :from="oldDashoffset" :to="strokeDashoffset" dur="0.5s" fill="freeze" />
          </circle>
        </svg>
        <div class="cpb-content">
          <slot/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      strokeDasharray: 0,
      strokeDashoffset: 0,
      oldDashoffset: 0,
    };
  },
  mounted() {
    this.strokeDasharray = String(2 * Math.PI * 48);
    this.oldDashoffset = this.strokeDasharray;
    this.strokeDashoffset = this.strokeDasharray * (this.max - this.value) / this.max;
  },
  name: 'CircleProgressBar',
  props: {
    value: {
      type: Number,
      required: true,
      default: 0
    },
    max: {
      type: Number,
      required: true
    }
  },
  watch: {
    value() {
      this.oldDashoffset = this.strokeDashoffset;
      this.strokeDashoffset = this.strokeDasharray * (this.max - this.value) / this.max;
      this.$refs.animation.beginElement();
    }
  }
}
</script>

<style scoped>
.cpb-wrapper {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}

.cpb-wrapper-y {
  height: 100%;
  aspect-ratio: 1 / 1;
}

.stat-circle {
  .bg {
    fill: none;
    stroke: var(--transperent-grey-color);
    stroke-width: 5;
  }
  .progress {
    fill: none;
    stroke: #2ecc71;
    stroke-width: 5;
    stroke-linecap: butt;
  }
}
text {
  font-size: 3px;
  text-anchor: middle;
  fill: var(--grey-color);
}

.cpb-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
}
</style>