<template>
  <CircleProgressBar
      :value="value" :max="max" header="">
    <p class="header-line">{{ header }}</p>
    <p v-if="show_value" class="info-line">
      {{ formatNumber(value) }}/{{ formatNumber(max) }}{{ units }}
    </p>
    <p v-if="show_info" class="info-line">{{ info }}</p>
    <p v-if="show_percents" class="percent-line">
      {{ formatNumber(100 * value / max) }}%
    </p>
  </CircleProgressBar>
</template>

<script>
import CircleProgressBar from "@/pages/server_stats/components/CircleProgressBar.vue";

export default {
  name: 'CircleProgressWrapper',
  components: {
    CircleProgressBar,
  },
  data() {
    return {
      size: '0px',
    };
  },
  props: {
    header: {
      type: String,
      required: true,
      default: 1
    },
    show_value: {
      type: Boolean,
      required: false,
      default: false
    },
    value: {
      type: Number,
      required: true
    },
    units: {
      type: String,
      required: false,
      default: ''
    },
    show_info: {
      type: Boolean,
      required: false,
      default: false
    },
    info: {
      type: String,
      required: false
    },
    max: {
      type: Number,
      required: true
    },
    show_percents: {
      type: Boolean,
      required: false,
      default: false
    },
    to_fixed: {
      type: Number,
      required: false,
      default: 1
    }
  },
  methods: {
    formatNumber(value) {
      return Number(value).toFixed(this.to_fixed);
    }
  }
}
</script>

<style>
.header-line {
  font-size: 0.875em;
  margin: 0;
}

.info-line {
  font-size: 1.4em;
  margin: 0;
}

.percent-line {
  font-size: 1em;
  margin: 0;
}
</style>